@font-face {
    font-family: 'party_businessregular';
    src: url('partybusiness-4b0k-webfont.woff2') format('woff2'),
         url('partybusiness-4b0k-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anironregular';
    src: url('aniron-7bap-webfont.woff2') format('woff2'),
         url('aniron-7bap-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body */

body {
    font-family: 'anironregular';
    margin: 0;
}


/* nav */
nav {
    font-family: 'anironregular';
    padding: 2%;
}


/* carousel */
.carousel-inner, 
.carousel-item {
    width: 100%;
    max-height: 30rem;
}
.carousel-item > img {
    max-width:100%;
    height:auto
}
.carousel-caption > h1{
    font-family: 'party_businessregular';
    font-size: 4rem;
}
.carousel-caption > p {
    font-family: 'party_businessregular';
    font-size: 2rem;
}

/* section */  
span {
    font-size: 0.7em;
}  
.container h3 {
    font-size: 3rem;
}
.card {
    font-family: 'party_businessregular';
    padding: 1%;
    margin-bottom: 5%;
    border: white solid 0.5rem;
    background-color: black;
    color: white;
}
.card-img-top {
    filter: brightness(50%); 
}
.hvbtn {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    font-size: 1rem;
    width: 70%;
    background-color: rgba( 255, 255, 255, 0.5 );
    border-radius: 1vw;
    -moz-box-shadow: 0px 0px 7px 10px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 7px 10px rgba(255,255,255,0.5);
}
.hvtxt{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F36127;
    font-size: 3rem;
    text-align: center;
    z-index: 2;
}
.hvbtn > p {
    color: black;
    font-size: 1.5rem;
}
.hvbtn > p > span {
    color: #F36127;
    font-size: 1.5rem;
}
.card-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.card:hover .hvbtn {
    display: inline-block;
    position: absolute;
    z-index: 2;
}
.card-body {
    font-size: 1.5rem;
}
.dead {
    text-decoration:#F36127 line-through;
}



  /* contact */
.contact {
    background-color: black;
}
.contact_us {
    margin: 3% 0% 0% 3%;
}
#contact_form input,
#contact_form select,
#contact_form textarea {
    margin-top: 3%;
    margin-bottom: 3%;
    max-width: 96;
}
.contact-right,
.contact-left,
form {
    color: white;
    padding: 3%
}
.map {
    width: 100%;
    padding: 3%;
}

/* footer */
footer {

    background-color: #F36127;
    width: 100%;
    height: auto;
}
footer ul {
    padding-left: 0%;
}
footer li {
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
footer li a {
    display: inline;
    color: white;
    text-decoration: none;
}